echo ~/.bashrc

# GPG for signing git commits
GPG_TTY=$(tty)
export GPG_TTY

alias {{ remote_host }}='ssh {{ remote_ip }}'
alias showbinding='bind -p | grep -v '\''^#\|self-insert\|^$'\'''
alias youtube-dl-m4a='youtube-dl -f bestaudio[ext=m4a] --extract-audio \
  --audio-format m4a -o '\''%(title)s.%(ext)s'\'''
